@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 0.1em 2em -1.2em rgba(0, 0, 0, 1);
}

.nav-list {
  flex: 2;
  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5em;
    padding-inline-start: 0;
  }
  & a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.2s;
  }
  & a:hover {
    opacity: 0.7;
  }
  & a:active {
    opacity: 0.5;
  }
}

.logo {
  display: flex;
  justify-content: center;
  flex: 1;
  & img {
    cursor: pointer;
    width: 200px;
  }
}

main {
  margin: 2.5em 25em;
  display: flex;
  gap: 7.5em;
  align-items: center;

  & h1 {
    font-size: 3em;
  }

  & img {
    width: 400px;
  }
}

.social-media-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 5em;
  width: 100%;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  gap: 0.5em;
  padding: 1em 2em;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
  & a {
    text-decoration: none;
    color: white;
  }
}

.social-media-name {
  display: none;
  overflow: hidden;
  width: 0;
  opacity: 0;
  transition: all 0.1s ease;
}

svg {
  width: 2em;
  fill: white;
}

footer {
  color: white;
}